html{
    font-size: 65.5%;
}

nav{
    height: 30vh;
    width: 100vw;
    background: rgb(211, 230, 195);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 25vh;
}

.card{
    margin: 2rem;
}

.card-header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: none;
    border-top: 1px solid rgb(212, 212, 212);
    text-transform: capitalize;
}

.card-text{
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}